body {
    font-family: Arial, sans-serif;
    background-color: #C1CFEA;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 0;
}

sup {

	color: #333;
	margin-left: 3.5px;
}

p {
	font-weight:lighter;
	color: #333;
	margin-top: 0;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
	background-color: #fff;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button {
	margin-top: 5%;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.card {
	margin: 5px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.temperature-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.temperature-container p {
    margin: 0;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
